<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header card clipped-bot">
    <h1 class="name">
      <input
        class="lancer-input header-field"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize ' lancer.placeholder.name'}}"
      />
    </h1>
    {{{ref-portrait-img item.img "img" item}}}
    <div class="header-details">
      <span>{{localize "lancer.stat-names.rank"}}:</span>
      {{{l-num-input "system.curr_rank"}}}
    </div>
  </header>

  {{! Sheet Body }}
  {{{textarea-card (localize "lancer.stat-names.description") "system.description"}}}

  {{{textarea-card (localize "lancer.stat-names.details") "system.detail"}}}
</form>